AIRTABLE_API_KEY=your_airtable_api_key
AIRTABLE_BASE_ID=your_airtable_base_id

AIRTABLE_TABLE_ORDERS=הזמנות
AIRTABLE_TABLE_ORDER_LINES=שורות הזמנה
AIRTABLE_TABLE_INVENTORY=מלאי לפי מיקום
AIRTABLE_TABLE_INVENTORY_MOVEMENTS=תנועות מלאי
AIRTABLE_TABLE_TASKS=משימות
AIRTABLE_TABLE_INSTALLERS=מתקינים
AIRTABLE_TABLE_CUSTOMERS=לקוחות
AIRTABLE_TABLE_QUOTES=הצעות מחיר
